/* first section start */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section {
    height: 500px;
    padding-bottom: 150px;
}

.sec_top {
    background: url(../images/top-banner.png);
    background-repeat: no-repeat;
    /* height: 200px; */
}
.half_width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img {
    width: 100%;
}
.half_width h1 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.half_width h2 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.half_width span {
    color: rgb(248, 226, 24);
}
.half_width h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.half_width p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(41, 38, 38);
}
.button {
    text-decoration: none;
    background: linear-gradient(45deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}
/* first section end */

/* first section start */
/* first section end */

/* first section start */
/* first section end */